flow.json.txt
[{"id":"4783b074.89f5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce319e3.e84be6","type":"function","z":"4783b074.89f5","name":"input function","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["9d08d63.4aaca28"]]},{"id":"3647ac90.ac2854","type":"function","z":"4783b074.89f5","name":"output function","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["eee9965f.0fb638","4bbb8a3c.0160e4","39e0736a.53e56c"]]},{"id":"eee9965f.0fb638","type":"debug","z":"4783b074.89f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":100,"wires":[]},{"id":"e2b841c1.22784","type":"ui_form","z":"4783b074.89f5","name":"","label":"","group":"f33ce2cd.1dd99","order":0,"width":0,"height":0,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":160,"wires":[["ce319e3.e84be6"]],"info":"<html>\n<body>\n<p>Subhashri</p>\n</body>\n</html>"},{"id":"9d08d63.4aaca28","type":"watson-discovery-v1","z":"4783b074.89f5","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/71d14f9f-56df-4d8b-9e9e-521bac77d9fe","x":390,"y":260,"wires":[["3647ac90.ac2854"]]},{"id":"1aeff447.16362c","type":"inject","z":"4783b074.89f5","name":"","topic":"","payload":"inject","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["9d08d63.4aaca28"]]},{"id":"4bbb8a3c.0160e4","type":"ui_template","z":"4783b074.89f5","group":"ff26b58e.1b0478","name":"","order":0,"width":0,"height":0,"format":"<html>\n    <head><title>News</title>\n    </head>\n    <body>\n        <marquee>Here is the news you were searching for</marquee>\n        <p><font color=\"red\">{{msg.payload}}</font></p>\n        \n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":340,"wires":[[]]},{"id":"39e0736a.53e56c","type":"sentiment","z":"4783b074.89f5","name":"","property":"payload","x":560,"y":360,"wires":[["24248327.0426ec"]]},{"id":"24248327.0426ec","type":"debug","z":"4783b074.89f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","x":740,"y":420,"wires":[]},{"id":"f33ce2cd.1dd99","type":"ui_group","z":"","name":"Default","tab":"d0f33711.dfcf08","order":2,"disp":true,"width":"6","collapse":true},{"id":"ff26b58e.1b0478","type":"ui_group","z":"","name":"group","tab":"d0f33711.dfcf08","order":3,"disp":true,"width":"6","collapse":false},{"id":"d0f33711.dfcf08","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]